<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments/head :: cars-head}" th:with="pageTitle='Cars'">
		<title>Wire Calculator</title>

	</head>
	<body>

		<nav th:replace="~{fragments/navigation :: navigation}"></nav>

		<div class="jumbotron background-lightBlue">
			<div class="container  text-center">
				<h1>Калкулатор</h1>
			</div>
		</div>
		<div class="container col-md-8 col-md-offset-2">
			<h1>Нова Поръчка</h1>
			<hr  />

			<button class="btn btn-link"  id="create_request">Избери кабел</button>
			<form id="create_request_form" th:object="${requestModel}">
				<div class="form-group row">
					<div class="col-md-5" id="divCable">
						<input class="form-control" id="cableName" type="text"  th:field="*{cableName}" placeholder="Кабел" />
					</div>
					<div class="col-md-3">
						<input class="form-control" type="number" id="length" th:field="*{length}"  placeholder="Метри поръчка" />
					</div>
					<div class="col-md-3">
						<button type="submit" class="btn btn-info form-control">Създай поръчка</button>
					</div>
				</div>
			</form>
			<hr />
		</div>



		<div class="container col-md-6 col-md-offset-3 text-center"  >

			<h1>История на поръчките</h1>

			<table class="table table-hover" >
				<thead>
					<tr>
						<th>№</th>
						<th>Дата</th>
						<th>Име</th>
						<th>Метри</th>
						<th>#</th>
					</tr>
				</thead>
				<tbody id="requestTableBody">

				</tbody>
			</table>



		</div>

		<div class="modal fade" id="pdfModal" role="dialog">
			<div class="modal-dialog" id="pdfModalDialog">

				<!-- Modal content-->
				<div class="modal-content" id="pdfContentModal">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" id="pdfTitle">Modal Header</h4>
					</div>
					<div class="modal-body"  id="pdf"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>
		<div th:replace="~{fragments/modal :: modal-create-request}"></div>
		<span  th:replace="~{fragments/scripts :: scripts}"></span>
		<script src="../static/js/home.js" th:src="@{js/home.js}"></script>
	</body>
</html>