<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments/head :: cars-head}" th:with="pageTitle='Cars'">
		<title>Request</title>

	</head>
	<body>
		<nav th:replace="~{fragments/navigation :: navigation}"></nav>
		<div class="col-md-4 col-md-offset-4">
			<div class="form-mini-container">


				<h1>Нова Поръчка</h1>

				<form class="form-mini" method="post"  id="request" th:object="${requestModel}">
					<div class="form-row">
						<input type="text" id="cable" th:field="*{cableName}" placeholder="Кабел" />
					</div>

					<div class="form-row">
						<input type="number" id="length" th:field="*{length}"  placeholder="Метри поръчка" />
					</div>

					<div class="form-row form-last-row">
						<button type="submit" >Създай поръчка</button>
					</div>

				</form>
			</div>
		</div>
		
	</body>
</html>